/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background-image: radial-gradient(#33e69e, #b98ff0);
  font-family: 'Quicksand', sans-serif;
  color: #ffff;
}

a {
  color: #451287;
}

#nav-bar, .nav {
  background-color: #ffff!important;
  width: 100%!important;
  padding-top: 10px;
  padding-left: 10px;
  color: #451287!important;
}

li {
  padding-left: 10px;
  font-size: 20px!important;
  color: #451287!important;
}

.navbar-link {
  color: #451287!important;
}

.page-title {
  text-align: center;
  font-weight: bold;
}

.btn-success {
  background-color: #451287!important;
  font-weight: bold;
}

#edit {
  background-color: #118858!important;
  font-weight: bold;
  margin-left: 20px;
}

.login {
  margin-left: 40px;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
}

#email, #password {
  margin-bottom: 10px!important;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#signup {
  margin-top: 20px;
}
.sign_up {
  margin-bottom: 20px;
}
